.formulario {
  margin: 50px;
  padding: 10px;
  border-radius: 51px;
  background-color: rgba(0, 0, 0, 0.384);
  color: aliceblue;
  /*  display: flex;
  flex-direction: column;

  justify-content: space-around;
  width: 500px;
  background-color: aqua; */
  background-image: url(C:\Users\Valentina\OneDrive\Escritorio\PI-Videogames-main\client\src\utils\Landing.png);
  background-repeat: no-repeat;
  background-position: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.checkContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.479);
}
.genresTitle {
  margin: 70px;
}
.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.platformTitle {
  margin: 70px;
}
.platforms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.errors {
  color: red;
}
/* submit button */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.384);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
