.card {
  width: 220px;
  padding: 1em;
  border-radius: 51px;
  background-color: rgba(0, 0, 0, 0.452);
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: aliceblue;
}

.photo {
  border-radius: 15px;
  margin-top: 10px;
  width: 200px; /* Establece el ancho deseado */
}
